:root {
  --header-bg-color: black;
  --header-border-color: white;
  --header-text-color: black;
}

#list_icon {
  transition: transform 0.3s ease;
}

.header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 35%;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: var(--header-bg-color);
  border-width: 1%;
  border-style: solid;
  border-color: var(--header-border-color);
  z-index: 99;
}

.list_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
  height: 100%;
  width: 100px;
  border-color: var(--header-text-color);
  transition: background-color 0.2s ease;
}

.glyphicon {
  color: var(--header-border-color);
  font-size: 30px !important;
}

.header_text {
  text-align: center;
  font-family: sans-serif;
  color: var(--header-border-color);
  width: 40%;
  font-size: 30px;
  text-decoration: underline;
}
