.header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 35%;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: rgb(15, 7, 35);
  border-width: 1%;
  border-style: solid;
  border-color: rgb(150, 80, 133);
  z-index: 99;
}

.list_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 7, 35);
  height: 100%;
  width: 100px;
}

.icon {
  color: rgb(208, 132, 189);
  font-size: 30px;
}

.header_text {
  text-align: center;
  font-family: sans-serif;
  color: rgb(208, 132, 189);
  font-size: 40px;
  text-decoration: underline;
}
