.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.image {
  width: 100%;
  height: 100vh;
}
.main_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.anim_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  right: 0;
  background-color: black;
  width: 67%;
}
.section {
  width: 50%;
  height: 100vh;
  z-index: 1;
}
.text_wrapper {
  left: 0;
  background-color: pink;
  width: 33%;
}
