.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#bg_video {
  position: fixed;
  width: 100vw;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
.main_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  color: white;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.75);
}
.main_text {
  padding: 50px 100px 0 100px;
}

.card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 97.9vw;
  height: 600px;
}
